<p class="fz-2">{{field.label}}</p>
<p class="fz-3">{{field.placeholder}}</p>
<div class="row">
  <div class="col">
    <label class="item item-input item-floating-label">
      <span class="show-label fz-2">Latitud<i ng-if="field.required" class="icon ion-asterisk"></i> </span>
      <input type="text" class="fz0" ng-model="answers[field._id][0]">
    </label>
  </div>
  <div class="col">
    <label class="item item-input item-floating-label">
      <span class="show-label fz-2">Longitud<i ng-if="field.required" class="icon ion-asterisk"></i> </span>
      <input type="text" class="fz0" ng-model="answers[field._id][1]">
    </label>
  </div>
  <div class="col">
    <label class="item item-input item-floating-label">
      <span class="show-label fz-2">Altitud<i ng-if="field.required" class="icon ion-asterisk"></i> </span>
      <input type="text" class="fz0" ng-model="answers[field._id][2]">
    </label>
  </div>
</div>
