<p class="fz-2">{{field.label}}</p>
<p class="fz-3">{{field.placeholder}}</p>
<div class="image-wrap">
  <img ng-if="image.url" ng-src="{{image.url}}">
</div>
<button class="button button-clear button-calm" ng-click="changeImage()"><i class="icon ion-camera"></i></button>
<button class="button button-clear button-calm" ng-click="changeImage(true)"><i class="icon ion-image"></i></button>
