<label class="item item-input item-floating-label">
  <span class="show-label fz-2">{{field.label}}<i ng-if="field.required" class="icon ion-asterisk"></i> </span>
  <input type="{{field.subtype}}" placeholder="{{field.placeholder}}" maxlength="{{field.maxlength}}" class="fz0" ng-model="answers[field._id]">
</label>
