<label class="item item-input item-floating-label">
  <span class="show-label fz-2">{{field.label}}<i ng-if="field.required" class="icon ion-asterisk"></i> </span>
</label>
<div class="multiple">
  <ion-list class="color-black fw-900">
    <ion-checkbox ng-repeat="option in field.options">
      {{option.label}}
    </ion-checkbox>
  </ion-list>
</div>
