<label class="item item-input item-floating-label">
  <span class="show-label fz-2">{{field.label}}<i ng-if="field.required" class="icon ion-asterisk"></i> </span>
  <input class="fz0" ng-if="field.decimals" type="{{field.subtype}}" min="{{field.min}}" max="{{field.max}}" step="0.1" name="name" ng-model="answers[field._id]">
  <input class="fz0" ng-if="!field.decimals" type="{{field.subtype}}" min="{{field.min}}" max="{{field.max}}" name="name" ng-model="answers[field._id]">
</label>
