<label class="item item-input item-select documents-select" style="padding-left: 10px;">
  <div class="input-label">{{field.label}}<i ng-if="field.required" class="icon ion-asterisk"></i></div>
  <select ng-model="answers[field._id]">
    <option value="">Seleccione...</option>
    <option ng-repeat="option in field.options" value="{{option.value}}">{{option.label}}</option>
  </select>
</label>
