<label class="item item-input item-floating-label">
  <span class="show-label fz-2">{{field.label}}<i ng-if="field.required" class="icon ion-asterisk"></i> </span>
  <textarea class="fz0" maxlength="{{field.maxlength}}" rows="{{field.rows}}" placeholder="{{field.placeholder}}" ng-model="answers[field._id]"></textarea>
</label>
