<ion-view class="registro auth" hide-nav-bar="true" >
  <ion-content>

    <header class="text-center">
      <div class="logo">
        <img ng-src="main/assets/images/logo-secondary.png">
      </div>
    </header>

    <div class="list list-inset input item-no-bgc">

      <h2 class="text-center ff-lato fw-500 color-white fz0 no-m">INICIAR SESIÓN</h2>

      <label class="item item-input item-floating-label color-white">
        <span class="input-label color-white fz-2">Email</span>
        <input type="email" placeholder="Email" class="fz0 color-white" ng-model="email">
      </label>

      <label class="item item-input item-floating-label color-white">
        <span class="input-label color-white fz-2">Contraseña</span>
        <input type="password" class="fz0 color-white" placeholder="Contraseña" ng-model="password">
      </label>

      <div class="action-buttons">
        <button class="button button-block button-positive color-white fw-700 ff-lato fz-1 no-mb" ng-click="registrar(email, password)">INGRESAR</button>
      </div>
    </div>


  </ion-content>
</ion-view>
