<ion-view view-title="" class="bg-white">

  <ion-nav-title align-title="left">Servicio</ion-nav-title>

  <ion-content class="padding has-footer">

    <div style="text-align: center" ng-if="loading">
      <ion-spinner icon="dots"></ion-spinner>
    </div>

    <div ng-if="!loading">
      <form>
        <div style="padding-top: 1rem;" ng-repeat="field in steps[index]" ng-include="renderContent(field.type)"></div>
      </form>
    </div>

  </ion-content>

  <ion-footer-bar align-title="left" class="" ng-if="!loading">
      <button ng-if="index>0" class="button button-calm button-small uppercase" ng-click="goPrev()">Anterior</button>
      <button class="button button-calm button-small uppercase pull-right" ng-if="index < steps.length - 1" ng-click="goNext()">Siguiente</button>
      <button class="button button-calm button-small uppercase pull-right" ng-if="index == steps.length - 1" ng-click="save()">Enviar</button>
  </ion-footer-bar>
</ion-view>
