label {
  &.item {
    border: 0;
    ::-webkit-input-placeholder {
      color: $black;
    }
    ::-moz-placeholder {
      color: $black;
    }
    :-ms-input-placeholder {
      color: $black;
    }
    :-moz-placeholder {
      color: $black;
    }
    ::placeholder {
      color: $black;
    }
  }
  //checkbox
  &.item-checkbox {
    input[type="checkbox"] {
      &:checked {
        + i.checkbox-icon {
          &:before {
            background: $royal;
            border-color: $royal;
          }
          &:after {
            border-color: $calm;
          }
        }
      }
    }
  }

  i.ion-asterisk {
    font-size: 8px;
    color: $assertive;
    padding: 3px;
    position: relative;
    top: -5px;
  }
  //inputs
  &.item-input {
    margin: 0;
    border: 0;
    padding: 6px 0;
    > input {
      position: relative;
      z-index: 2;
      border-bottom: 1px solid;
      padding: 1px 8px 2px !important;
      height: 25px;
    }
  }
}

//placeholders para fondo blanco
ion-view.bg-white {
  label.item {
    ::-webkit-input-placeholder {
      color: $gray;
    }
    ::-moz-placeholder {
      color: $gray;
    }
    :-ms-input-placeholder {
      color: $gray;
    }
    :-moz-placeholder {
      color: $gray;
    }
  }
}
//placeholder se desplace hacia arriba del input
.item-floating-label {
  .input-label {
    padding: 0;
    z-index: 1;
    top: 0;
    border-radius: 0;
    left: 5px;
    transition: all linear 250ms;
    transform: translateY(10px);
    opacity: 0;
    &.has-input {
      transition: all linear 220ms 100ms;
      transform: translateY(2px);
      opacity: 1;
    }
  }
  .show-label{
    opacity: 1;
    padding: 0;
    z-index: 1;
    top: 0;
    border-radius: 0;
    left: 5px;
  }
}

.image-wrap{
  max-width: 100px;
}

textarea{
  border: 1px solid #ddd;
  width: 100%;
}

/*when type select*/
.item-select {
  .input-label {
    &:after {
      content: '\25BC';
      display: inline-block;
      color: #FFF;
      background-color: rgba(255, 255, 255, 0);
      margin-left: -17px;
      pointer-events: none;
      position: absolute;
      right: 20px;
      top: 50px;
    }
  }
  input[type="text"] {
    margin: 5px auto;
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 6px;
    border: none;
    width: 100%;
    color: #D4D1D8 !important;
    height: 43px;
  }
}
.item-select,
.item-email {
  padding: 5px 15px;
  &>div {}
  .input-label {
    max-width: 100%;
    width: 100%;
    padding-bottom: 0;
    white-space: normal;
  }
  select {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    max-width: 100%;
    width: 100%;
    position: relative;
    margin: 5px auto;
    padding: 12px 15px;
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 6px;
    border: none;
    direction: ltr;
  }
}
/*suport text*/
.item-support_text {
  p,
  div {
    color: #ddd;
    white-space: normal;
  }
}
/*checkbox*/
div.item-checkbox {
  .input-label {
    color: #ddd;
    max-width: 100%;
    width: 100%;
    padding-bottom: 0;
  }
  label.item-checkbox {
    padding-left: 55px;
    .checkbox {
      .checkbox-icon {
        &:before {
          background: transparent;
        }
      }
    }
    input:checked:before,
    .checkbox input:checked+.checkbox-icon:before {
      border-color: #fff;
    }
  }
  padding: 0px 15px;
  p {
    color: #ddd;
    white-space: normal;
  }
  .item-content {
    white-space: normal;
    span {
      font-size: 15px;
    }
  }
}
/*radio items*/
div.item-radio {
  margin-bottom: 15px;
}
.item-radio {
  padding: 0px 15px;
  .input-label {
    color: #ddd;
  }
  label.item-radio {
    border-bottom: solid 1px #B3B3B3;
    &:last-child {
      border-bottom: none;
    }
    .radio-content {
      &:before {
        content: "";
        width: 30px;
        height: 30px;
        border: 2px solid rgba(255, 255, 255, 0.4);
        position: absolute;
        right: 9px;
        top: 15px;
      }
    }
  }
}
/*item option yes/no */
.item-option {
  .input-label {
    color: #ddd;
    white-space: normal;
    width: 100%;
    padding: 0;
    max-width: none;
    font-size: 12px;
    line-height: 12px;
  }
  .list {
    label {
      width: 50%;
      display: inline-block;
    }
    .item-content {
      &:after {
        border: 2px solid white;
        content: "";
        width: 26px;
        height: 26px;
        position: absolute;
        right: 10px;
        top: 13px;
      }
    }
    i.radio-icon {
      right: 15px;
      top: -2px;
      font-size: 20px;
    }
  }
}
