//menu
.menu .scroll-content {
  background: $royal;
  top: 0;
  .item {
    background: none;
    white-space: initial;
    padding-left: 78px;
    border-color: $positive;
    margin: 0;
    border-width: 0 0 1px 0;
    &:last-of-type {
      border-width: 0;
    }
    &.activated{
      color: $calm !important;
    }
    .icon {
      left: 28px;
    }
  }
  .item-avatar {
    padding-left: 0;
    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      border-radius: 0;
      max-width: 100px;
      max-height: 40px;
    }
  }
  .item, .item-content {
    background: none;
  }
  .item-content {
    border-width: 1px 0;
    .icon {
      font-size: 25px;
    }
  }

  //item-complex
  .item-complex {
    padding-left: 0;
    > .item-content {
      padding-left: 78px;

      &.activated {
        color: $calm;
      }
    }
    .icon {
      left: 28px;
    }
  }
}
