//colors app
$navbarBg: #222552;
$brandColor: #222552;
$secondaryColor: #ea700d;

$white: #fff;
$black: #1e1e1e;
$gray: #8e8e8e;
$light-gray: rgb(197, 197, 197);


//variables ionic
$positive: #40bead !default;
$balanced: #0ff483 !default;
