/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #ea700d !default;
$calm:                            #222552 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

@import "fonts"; //fontFamily
@import "fontSize"; //fontSize
@import "barNavigation"; // Barra de la app

@import "variables";

@import "commons";
@import "buttons";
@import "forms";
@import "menu";
.color-sheet{
  .action-sheet-group{
    .button:nth-of-type(1){
      background-color: #e00000
    }
    .button:nth-of-type(2){
      background-color: #306f1a
    }
    .button:nth-of-type(3){
      background-color: #2795ee
    }
    .button:nth-of-type(4){
      background-color: #dc7cac
    }
    .button:nth-of-type(5){
      background-color: #e1da00
    }
    .button:nth-of-type(6){
      background-color: #2f363f
    }
    .button:nth-of-type(7){
      background-color: #eaf0f1
    }
  }
}

