<ion-view  class="home bg-stable">
  <ion-nav-title class="bar-logo text-center">Obras</ion-nav-title>
  <ion-content scroll="true" overflow-scroll="true">
    <section class="relacionados">
      <div class="proximos-eventos" ng-repeat="obra in obras">
        <div class="columns prox-item">
          <div class=" grupo description fw-500 ff-lato fz-3" style="position: relative">
            <div class="uppercase color-white fz-1 fw-900 ff-cocogoose titulo-evento">
              {{obra.nombre}}
            </div>
            <div class="details" ng-click="link(obra.info)">
              <p class="fz-4">{{obra.descripcion}}</p>
              <p class="fz-4 td-underline">Ver más...</p>
            </div>

            <div class="tickets">
              <div class="button button-calm button-small uppercase" ng-click="service(obra.id)">Servicio</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ion-content>
</ion-view>
