<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content drag-content="true" edge-drag-threshold="true">

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-calm" delegate-handle="myNav">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="homeView"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu side="left">

    <!-- menu content -->
    <ion-content style="top:0; background-color: #424242;color: white !important">

      <ion-list>

        <ion-item class="item item-avatar" nav-clear>
          <div style="position:absolute; width:100%; height:100%">
            <img ng-src="main/assets/images/logo-secondary.png">
          </div>
        </ion-item>

        <ion-item menu-close
                  class="item-icon-left color-white fw-700 uppercase ff-cocogoose fz-2"
                  ng-click="ctrl.syncDB()">
          Sincronizar <i class="icon ion-android-sync"></i>
        </ion-item>
        <!--Chat-->
        <ion-item class="item-icon-left color-white fw-700 uppercase ff-cocogoose fz-2"
                  ng-click="ctrl.logout()">
          Cerrar Sesion <i class="icon ion-log-out"></i>
        </ion-item>

      </ion-list>

    </ion-content>

  </ion-side-menu>

</ion-side-menus>
