@import '../../main/styles/variables';

.separator-line {
  position: relative;
  border-top: 4px solid $secondaryColor;
  margin: 1.5em 0;
  position: relative;
  left: -10px;
  width: calc(100% + 20px);
}
