/**
 * Estilos multi evento
 */
.proximos-eventos {

  .columns {
    display: flex;
  }

  .prox-item {
    padding: 0 0 0.7rem;
  }

  .grupo {
    padding: 15px;
    width: 100%;
    background-color: gray;
    color: rgb(220, 220, 220);
  }

  .event-img {
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  .tickets {
    padding-top: 10px;

    .button {
      margin: 0 !important;
    }
  }

  .titulo-evento {
    padding-bottom: 10px;
  }
}
