<ion-view view-title="">

  <ion-nav-title align-title="left">Detalle Obra</ion-nav-title>

  <!-- do you want padding? -->
  <ion-content class="padding" scroll="true" overflow-scroll="true">

    <!-- content goes here -->
    <article class="padding fz-1" ng-repeat="item in info">
      <h2 class="uppercase fz2 fw-900 ff-titles color-calm has-companion-subtitle">{{item.label}}</h2>
      <div class="info color-black  fz-3 fw-300 ff-lato">
        {{item.value}}
      </div>
      <div class="separator-line"></div>
    </article>
  </ion-content>
</ion-view>
